<div class="about-section">
  <h1>About Us Page</h1>
  <p>about who we are and what we do.</p>
  <p>We are creator and developers of 1000+ apps</p>
</div>

<h2 style="text-align:center">Our Team</h2>
<div class="row">
  <div class="column">
    <div class="card">
      <img src="#" alt="Jane" style="width:100%">
      <div class="container">
        <h2>Doe</h2>
        <p class="title">CEO & Founder</p>
        <p>DoeDoeDoeDoeDoeoremon.</p>
        <p>Doe@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="#" alt="Mike" style="width:100%">
      <div class="container">
        <h2>Mike Ross</h2>
        <p class="title">Art Director</p>
        <p>Mike RossMike RossMike RossMike RossMike Ross</p>
        <p>Mike Ross@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="#" alt="John" style="width:100%">
      <div class="container">
        <h2>Abrahim</h2>
        <p class="title">Designer</p>
        <p>AbrahimAbrahimAbrahimAbrahimA</p>
        <p>Abrahim@example.com</p>
        <p><button class="button">Contact</button></p>
      </div>
    </div>
  </div>
</div>
